<mat-card>
    <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="fill">
            <mat-label>
                Usuario
            </mat-label>
            <input matInput formControlName="username">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>
                Contraseña
            </mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary"Ingresar></button>
    </form>
</mat-card>
